h1 {
   color: green;
   color: blue;
   color: brown;
   border-bottom: 2px solid brown;
   }
h2{
   color: brown;
   margin-left: 110px;
  }
   p {
   font-size: small;
   font-family: sans-serif;
   }
p{ 
   margin-left: 90px;
}
img{
   float: right;
   margin: 0 20px;
}