<article>
 <header>
<p>publicado por MasterChef, November 15, 2018</p>
 </header>
 <h2>Bajito y Despacito</h2>
<p>Esta semana estamos extremadamente emocionados por presentar una
nueva técnica de cocina llamada sous vide. Con la técnica sous
vide, tú sumerges un recipiente (generalmente de plástico sellado
al vacío) en un baño de agua que precisamente se adapta a la
temperatura requerida para que la comida sea cocinada. En este
programa, Cocina para Geeks, Jaime Potter describe la técnica como
caza furtiva a temperatura ultra baja.</p>
<p>La siguiente semana, prepararemos Salmon Sous Vide con Eneldo
Holandés. Para asistir al programa, contáctanos antes del 30 de
Noviembre.</p>
 <p>registro@masterchef.com<br>
 552-336-1800</p>
<p>Advertencia: El salmón cocinado a la Sous vide no está
pasteurizado. Evítalo se está embarazada o se tiene problemas de
alergia e inmunidad.</p>
</article>